*{
    margin: 0%;
    padding: 0%;
}


body{
    font-family: 'Roboto',sans-serif;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    top: 0%;
    width:100% ;
    height: 80px;
    color:white;
    opacity: inherit;

}

ul{
    display: flex;

}

ul li{
    list-style: none;

}
 ul li a{
text-decoration: none;
font-size: 19px;
color:white;
margin-inline: 22px;
 }

 .logo{
    font-size: 22px;
 }

 .searchbar{
    display: flex;
 }

 .searchbar input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    background-color: transparent;
 }

.searchbar i{
    margin-left: -22px;
}

.cart icon{
    font-size: 25px;

}

.cart p{
    margin-left: 11px;
    font-size: 20px;
}

.main{
    display: flex;
    justify-content: space-around;
    margin-top: 133px;
}

.maintext{
    margin-top: 44px;
}

.maintext p{
    margin-top: 22px;
}


.maintext button{
    margin-top: 22px;
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
}

.maintext h1{
    font-size: 65px;
}

.head{
    text-align: center;
    padding: 88px;
    background-color: black;
    color: white;

}
#shop{
    background-color: rgb(10, 9, 9);
    color: white;
}

.shops{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shops .card{
    width: 300px;
    margin-inline: 22px;
    margin-top: 22px;
}

.card img{
    width: 100%;
    height: 300px;
}

.card button{
    position: relative;
    top: -38px;
    width: 120px;
    height: 35px;
    background-color:rgb(246, 57, 89) ;
    color: white;
    border: none;
    font-size: 18px;
}



.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(22, 14, 14);
    color: white;

}

.gallery img{
    width: 300px;
    margin-inline: 22px;
    margin-top: 22px;
}

.connect{
    width: 400px;
    border-radius: 5px;
    padding: 22px;
    box-shadow: 1px 3px 3px 3px gray;
    text-align: center;
    margin: auto;
    
    

}

.connect input{
    width: 90%;
    height: 12px;
    padding: 12px;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
    margin-top: 22px;
}

.connect button{
    width: 140px;
    height: 40px;
    background-color: red;
    font-size: 20px;
    border: none;
    margin-top: 22px;

}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 66px;
    margin-top: 66px;
    background-color: black;
    color: white;

}

.text p{
    margin-top: 12px;
}

.cartitems{
    width: 200px;
    height: 300px;
    overflow-y: auto;
    background-color: pink;
    text-align: center;
    position: absolute;
    margin-top: 35%;
    right: 4%;
}

.cartlist{
    margin-top:22px ;
}

.cartitems .cartlist img{
    width: 65px;
}

.cartlist i{
    position: relative;
    top: -32px;
    font-size: 25px;
    font-size: 28px;
    color: black;
    padding: 4px;
    cursor: pointer;

}

@media screen and(max-width:1100px){
    .main{
        display: block;
        text-align: center;

    }
}
 @media screen and(max-width:950px){
    ul{
        display: none;

    }

    .searchbar{
        display: none;

    }
 }
 @media screen and(max-width:600px){
    .connect{
        width: 80%;
    }
    .main{
        width: 95%;
    }

    .maintext{
        font-size: 35px;
    }
 }

